{% load mptt_tags %}
    {% recursetree sections %}
        {% if not node.is_leaf_node %}
        <li class="dropdown">
            <a href="{% if section_view %}{% url section_view full_slug=node.full_slug %}{% else %}#{% endif %}" class="dropdown-toggle" data-toggle="dropdown">{{ node.title }} <b class="caret"></b></a>
            {# <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ node.title }} <b class="caret"></b></a> #}
            <ul class="dropdown-menu">
                {{ children }}
            </ul>
        </li>
        {% else %}
        <li>
            {% if section_view %}
                <a href='{% url section_view full_slug=node.full_slug %}'>{{ node.title }}</a>
            {% else %}
                {{ node.title }}
            {% endif %}
        </li>
        {% endif %}
    {% endrecursetree %}
</ul>
